@model EditNoteViewModel

@*@await Html.PartialAsync("_StarForNote", new PartialStarViewModel()
{ 
    Id = Model.Id, 
    ReturnURL = Context.Request.Path,
    IsImportant = Model.IsImportant 
})*@

<form method="post" asp-controller="Note" asp-action="AddTagToNote">
    <div class="form-group">
        <select class="form-select" name="tagId">
            @foreach (var tag in Model.AllTags)
            {
                <option value="@tag.Id">
                    @tag.Name
                </option>
            }
        </select>
        <a class="btn btn-success" asp-action="TagList" asp-controller="Note">Create more tags</a>

    </div>

    <input hidden name="noteId" type="number" value="@Model.Id"/>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Add tag
        </button>
    </div>
</form>

<div class="flex-wrap row gy-5">
    @foreach (var tag in Model.Tags)
    {
        <form asp-controller="Note" asp-action="RemoveTagFromNote" method="post">
            <div class="m-3 d-inline card">
                #@tag.Name
                <button>
                    <span>&times;</span>
                </button>
            </div>
            
            <input hidden value="@Model.Id" name="noteId">
            <input hidden value="@tag.Id" name="tagId">
        </form>
    }
</div>

<form asp-controller="Note" asp-action="EditNote" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" asp-for="Title"/>
    </div>

    <div class="form-group">
        <label>Text</label>
        <textarea class="form-control" rows="9" asp-for="Text"></textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Save</button>
    </div>

    <input type="hidden" asp-for="Id" value="@Model.Id"/>
</form>