@model NoteListViewModel

@{
    const int paginationOffset = 3;

    Func<int, string> SetPageItemClassByPageNumber = (int i) =>
    {
        if (Model.CurrentPage == i)
            return "page-item active";
        else
            return "page-item";
    };
}


<ul>
    @foreach (var note in Model.Notes)
    {
    <li class="list-group">
        <div class="d-flex">
             <a class="flex-grow-1 list-group-item list-group-item-action mt-1"
                asp-controller="Note" asp-action="Read" asp-route-id="@note.Id">
                <strong style="color:black">@note.Title</strong>

            </a>
        </div>
    </li>
    }
</ul>

<ul class="pagination">
    <li class="@SetPageItemClassByPageNumber(1)">
        <a class="page-link" asp-action="ImportantNoteList" asp-controller="Note" asp-route-page="1">
            1
        </a>
    </li>
    @if (Model.CurrentPage - paginationOffset > 2)
    {
        <li class="page-item disabled">
            <a class="page-link" href="#">
                ...
            </a>
        </li>
            
    }

    @for (int i = Model.CurrentPage - paginationOffset; i < Model.CurrentPage + (paginationOffset + 1) && i <= Model.LastPage; i++)
    {
        @if (i <= 1 || i >= Model.LastPage)
            continue;

        <li class="@SetPageItemClassByPageNumber(i)">
            <a class="page-link" asp-action="ImportantNoteList" asp-controller="Note" asp-route-page="@i">
                @i
            </a>
        </li>
    }

    @if (Model.CurrentPage + (paginationOffset + 1) < Model.LastPage)
    {
        <li class="page-item disabled">
            <a class="page-link" href="#">
                ...
            </a>
        </li>
    }
    @if (Model.LastPage != 1)
    {
        <li class="@SetPageItemClassByPageNumber(Model.LastPage)">
            <a class="page-link" asp-action="ImportantNoteList" asp-controller="Note" asp-route-page="@Model.LastPage">
                @Model.LastPage
            </a>
        </li>
    }
</ul>