@model ReadNoteViewModel

@await Html.PartialAsync("_Star", new PartialStarViewModel()
{ 
    Id = Model.Id, 
    ReturnURL = Context.Request.Path,
    IsImportant = Model.IsImportant, 
})

<div class="flex-wrap row gy-5">
    @foreach (var tag in Model.Tags)
    {
        <div class="m-3 d-inline card">
            #@tag.Name
        </div>
    }
</div>
    
<div class="modal-content rounded-4 shadow">
    <div class="modal-header border-bottom-0">
        <h1>
            @Model.Title
        </h1>
    </div>
    <div class="modal-body py-0">
        <p>
            @Model.HtmlText
        </p>
    </div>
</div>
<div class="modal-content rounded-4 shadow mt-2">
    <div class="p-2 modal-body py-0">
        Length : @Model.Length
        Lines count : @Model.LineCount
        <br/>
        Creation date : @Model.CreatedDate
    </div>
</div>
<div class="mt-2">
    <a class="btn btn-primary"
       asp-controller="Note" asp-action="EditNote" asp-route-id="@Model.Id">
        Edit
    </a>
</div>